textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.CreateCourseContainer{
  padding: 0 1%;
}

.CreateTitle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.CreateDescription{
    width: 97.8%;
    height: 10vh;
    border: 1px solid orange;
    padding: 1%;
    margin-bottom: 20px;
}

.AutorsContainer{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1%;
}

.LeftBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutText{
  margin-bottom: 10px;
}

.LeftText{
  align-self: flex-start;
}