.InfoContainer{
    min-height: 100vh;
    border: 1px solid rgb(0, 60, 255);
    padding: 2%;
}

.CourseCard{
    display: flex;
    justify-content: space-between;
}

.CourseTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.CourseDescription{
    width: 49%;
}

.CourseInfo{
    width: 40%;
}

.BoldText{
    font-weight: bold;
}