.Container{
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
    padding: 1%;
    margin-bottom: 20px;
}

.Autors{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.Description{
    width: 70%;
}

.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.TitleText{
    font-weight: bolder;
}
