input {
  all: unset;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
}

::placeholder { 
  color: #000;
  opacity: 1; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.InputOrange{
    width: 400px;
    height: 35px;
    border: 1px solid rgb(255, 123, 0);
    padding-left: 10px;
    margin-right: 20px;
}

.InputOrangeLong{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(255, 123, 0);
    padding-left: 10px;
    margin-right: 20px;
}

.InputBlock{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}