.AuthorsContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.AuthorsBlock{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

.AuthorsBlockText{
    justify-self: start;
    width: 50%;
}

.AddAuthorsBlock{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    width: 100%;
}
