button{
    border: none;
    margin: 0;
    overflow: visible;
    /* background-color: #fff; */
    
}

.ButtonPurple{
    width: 180px;
    height: 35px;
    text-align: center;
    background-color: #fff;
    border: 1px solid purple;
}

.ButtonSquare{
    position: relative;
    height: 4vh;
    width: 4vh;
    z-index: 1;
}