.Container{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border: 1px solid red;
    margin-bottom: 40px;
}

.UserBlock{
    display: flex;
    align-items: baseline;
}

.Name{
    margin-right: 20px;
}