.Container{
    padding: 20px 1%;
    border: 1px solid rgb(0, 119, 255);
    min-height: 86vh;
}

.CoursesControll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
